@import url('https://fonts.googleapis.com/css?family-Montserrat');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.display-3 {
    background-image: linear-gradient(to bottom right,  rgb(25, 23, 151), rgb(19, 6, 92));
    height: 80px;
    font-family: 'arial';
    padding: 1px;
}


.jumbotron {
      padding: 0px;
}


html {
    font-size: 14px;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top left, rgb(25, 23, 151), rgb(19, 6, 92));
    color: #ffffff;
}

a:link {
    color:#000000;
    text-decoration: none;

}  
a:visited {
    color:#686e72;
    text-decoration: none;
} 
a:hover {
    color:#524b52;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}   
a:active {
    color:#524b52;
    text-decoration: none;
}

.currencySelect{
    float: right;
    padding-right: 50px;
    padding-bottom: 20px;
}


.container-currency-exchange-tool {
    width: 2000px;
    margin: 20px auto;
    overflow-x: hidden; 
    position: relative;
    user-select: none;
    left: 15px;
}



.row {
    background-image: linear-gradient(to bottom right, rgb(24, 41, 185), rgb(16, 14, 126), rgb(12, 3, 65));
    text-align: center;
    padding: 0.60rem;
}


.row h1 {
    font-size: 1.50rem;
}


.date {
    background-color:rgba(7, 12, 85, 0.911);
    text-align: right;
    font-size: 1.00rem;
    padding: 0.30rem 2rem 0.30rem 0;
}

#currency-conversion {
    float: left;
    position:relative;
    margin-left: 50px;
}

#right-column {
    float:left;
    position:relative;
    margin-left:100px;
}

.news {
 min-height: 50px;
 max-width: 350px;
 background-image: linear-gradient(to bottom right, lightgrey, slategrey);
 color: black;
 padding: 3px;
 border-style: solid;
 border-width: 1px;
 border-radius: 3px;
}

ul.currencies {
    height: calc(100vh - 40px - 100px - 40px -58px);
    background-color: rgba(7, 12, 85, 0.911);
    padding: 0 1.5rem 1rem 1.5rem;
    overflow-y: auto;
}
 

ul.currencies li {
    background-color: rgb(193, 219, 240);
    color: rgba(7, 12, 85, 0.911);
    border-radius: 2px;
    list-style: none;
    /* padding: 1rem 1rem 0.75rem 1rem; */
    padding: 0.8px;
    margin-bottom: 1rem;
    position: relative;
}


ul.currencies li:last-child {
    margin-bottom : 0;
}


ul.currencies li.base-currency {
    background-color: rgb(203, 226, 248);
}


.flag {
    width: 60px;
    height: 40px;
    border: 1px solid #ffffff;
    vertical-align: top;
}


.info {
    display: inline-block;
    width: 76%;
    padding: 7px;
} 


.info .input span {
    font-size: 1.5rem;
    display: inline-block;
    width: 2.5rem;
    text-align: center;
    padding: 0.01rem;
}


.info .input input {
    font-size: 1.3rem;
    width: 74%;
    background-color: transparent;
    border: 2px solid rgba(7, 12, 85, 0.911);
    border-radius: 5px;
    /* color: #ffffff; */
    /* padding: 0.3rem; */
    margin-bottom: 0.05rem;
    margin-left: 0.80rem;
}

.info .currency-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
    /* padding: 10px; */
}


.info .base-currency-rate {
    font-size: 0.7rem;
    margin-left: 4rem;
}


ul.currencies li .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(104, 102, 102);
    cursor: pointer;
}


ul.currencies li .close:hover {
    color: #000000;
}

/*Scroll bar*/
ul.currencies::-webkit-scrollbar {
    width: 12px;
}


ul.currencies::-webkit-scrollbar-thumb {
    background-color: aquamarine;
    border-bottom: 1rem solid black;
}


ul.add-currency-list {
    position: absolute;
    bottom: 54px;
    left: 105%;
    background-color: #f1f1f1;
    color: #333;
    width: 100%;
    height: calc(100vh - 40px - 100px - 55px);
    overflow-y: auto;
    transition: all 0.25s;
}


ul.add-currency-list li {
    list-style:none;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    color: black;
    background-color: rgb(217, 208, 243);
}


ul.add-currency-list li.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}


ul.add-currency-list li .flag {
    width: 3rem;
    height: 2rem;
    vertical-align: middle;
}


ul.add-currency-list li span {
    margin-left: 1rem;
    font-weight: bold;
}


.add-currency-btn {
    background-color: rgb(43, 116, 226);
    color: #ffffff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-top: 1px solid rgb(9, 27, 87);
    outline: none;
    width: 400px;
    cursor: pointer;
    transition: 1s;
    position: relative;
}


.add-currency-btn i {
    position: absolute;
    top: 0.6rem;
    left: 30%;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.25s;
    width: 100%;
}


.add-currency-btn {
    background-color: rgb(43, 116, 226);
    width: 400px;
}


.add-currency-btn i {
    opacity: 1;
    left: 1.25rem;
    width: 100%;
}


.add-currency-list.open {
    display: block;
    width: 400px;
}


.add-currency-list.open {
display: block;

}


/*add-currency-list and .add-currency-btn are siblings*/
.add-currency-btn + ul.add-currency-list li:hover {
    left: 0;
    width: 100%;
}


.add-currency-btn + ul.add-currency-list li:hover {
    background-color: #ddd;
    width: 100%;
} 


.hide-currency-btn {
    background-color: rgb(127, 202, 221);
    border-bottom: blue;
    font-family: 'arial';
    font-weight: bolder;
}

/*This property is to fit in the small screen*/

@media (max-width: 600px) {
  html { font-size: 14px; }
  .container { width: 100%; margin: 0 auto; }
  ul.currencies { height: calc(100vh - 83px - 34px - 51px); }
  .header h1 { font-size: 2rem; }
  .flag { width: 3rem; height: 2rem; }
  .info .input span { font-size: 1.25rem; width: 3.5rem; }
  .info .input input { font-size: 1.25rem; width: 76%;}
  .info .currency-name { margin-left: 3.5rem; }
  .info .base-currency-rate { margin-left: 3.5rem; }
  ul.add-currency-list { bottom: 48px; height: calc(100vh - 80px - 51px); }
  .add-currency-btn i { left: 25%; top:0.65rem; }
}
 






